* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    /* position: fixed; */
    border-bottom: 0px solid #fff;
    /* background-color: #06a2d1; */
    background-color: #201f24;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #101010; */
    background-color: #06a2d1;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #201f24;
    /* color: #475569; */
    /* color: #fff; */
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    /* color: #04030f; */
    color: #06a2d1;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #06a2d1;
        /* background-color: #475569; */
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(250, 248, 248, 0.05);
        height: 400px;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* main-part */

.container {
    /* margin-top: 0px; */
    width: 100%;
    height: 612px;
    /* background-color: #81355a; */
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../Images/brick.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.container .subcontainer1 {
    /* background-color: #06a2d1; */
    margin-left: 125px;
    margin-top: 50px;
    width: 450px;
    height: 500px;
}

.container .subcontainer1 img {
    width: 450px;
    height: 500px;
}

.container .subcontainer2 {
    margin-top: -500px;
    margin-left: 700px;
    width: 625px;
    height: 500px;
    /* background-color: #5a6591; */
}

.container .subcontainer2 h2 {
    color: #fff;
    padding-top: 85px;
    text-align: center;
    font-size: 35px;
}

.container .subcontainer2 h2 span {
    color: #06a2d1;
    font-size: 30px;
}

.container .subcontainer2 p {
    color: #fff;
    padding-top: 45px;
    text-align: center;
    font-size: 30px;
}

.container .subcontainer2 p span {
    color: #06a2d1;
    font-weight: bold;
}

.container .subcontainer2 button {
    /* background-color: #06a2d1; */
    background-color: #475569;
    margin-top: 50px;
    margin-left: 250px;
    height: 50px;
    width: 175px;
}

.container .subcontainer2 button a {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 991px) {
    .container {
        height: 763px;
        width: 100%;
    }
    .container .subcontainer1 {
        margin-left: 30px;
        height: 450px;
        width: 85%;
    }
    .container .subcontainer1 img {
        height: 450px;
        width: 100%;
    }
    .container .subcontainer2 {
        height: 225px;
        text-align: center;
        margin: 0px;
        width: 100%;
        margin-top: 10px;
    }
    .container .subcontainer2 h2 {
        padding: 10px;
        font-size: 30px;
    }
    .container .subcontainer2 h2 span {
        color: #06a2d1;
        font-size: 25px;
    }
    .container .subcontainer2 p {
        padding: 10px;
        font-size: 20px;
    }
    .container .subcontainer2 button {
        margin-top: 10px;
        margin-left: 5px;
        height: 50px;
        width: 150px;
    }
    .container .subcontainer2 button a {
        font-size: 15px;
    }
}


/* main-part */